body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}


/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    border-bottom: 1px solid #515369;
}


/* Nav */

.nav {
    display: flex;

    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 57px;

    color: #fff;
    opacity: .75;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin: 0;
}

.nav__link:hover {
    opacity: 1;
}


/* Intro */

.intro {
	height: 750px;
    display: flex;
	flex-direction: column;
	justify-content: center;
    padding-top: 100px;

    color: #fff;
    text-align: center;

    background: #31344f url('../img/intro-bg.jpg') no-repeat center top / cover;
}

.intro__inner {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.intro__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-top: 36px;
    margin-bottom: 78px;

    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
}


/* Button */

.btn {
    display: inline-block;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #d83838;
}

.btn--long {
    min-width: 280px;
}


/* Features */

.features__inner {
    margin: 95px 0;
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width: 33.33333%;
    padding: 0 45px;
    margin: 25px 0;

    text-align: center;
}

.features__title {
    margin: 22px 0 28px;

    font-weight: 700;
    color: #2d3033;
}

.features__text {
    line-height: 1.5;
}


/* Works */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}

.works__img {
	min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0)
}

.works__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: rgba(232, 69, 69, .9);
    opacity: 0;

    transition: opacity .2s linear;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__title {
    margin-bottom: 10px;

    font-weight: 700;
    text-transform: uppercase;
}


/* Team */

.team {
	margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
	display: flex;
	flex-direction: column;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
}

.team__prof {
    margin-bottom: 20px;

    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 30px;

    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/* Social */

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social--footer .social__item {
    margin-right: 7px;

    border: 2px solid #ffffff;
}

.social--footer .social__item:last-child {
    margin-right: 0;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social__item:hover .social__icon {
   fill: #000;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill .1s linear;
}

.social--footer .social__icon {
    fill: #fff;
}

/* Testimonials */

.testimonials {
    background-color: #53354a;
    overflow: hidden;
}

.testimonials__item {
	display: flex;
	flex-wrap: wrap;
}

.testimonials__photo {
	height: 500px;
	width: 50%;
	
	position: relative;
}

.testimonials__img {
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 1;

	transform: translateY(-50%);
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 85px;

    color: #fff;
}

.testimonials__text {
    margin-bottom: 30px;

    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
}

.testimonials__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Download */

.download {
    margin: 100px 0;

    text-align: center;
}

.download__title {
    margin-bottom: 16px;

    font-size: 28px;
    font-weight: 300;
    color: #2d3033;
}

.download__text {
    margin-bottom: 40px;

    font-size: 13px;
    font-weight: 700;
    color: #2d3033;
    line-height: 1.5;
    text-transform: uppercase;
}


/* Footer */

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 71px 0 88px;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 21px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}


/* Copyright */

.copyright {
    padding: 22px 4px;

    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    line-height: 1.5;
}

.copyright__text span {
    font-size: 13px;
    color: #fff;
}

 
/* Burger */

.burger {
	display: none;
	padding: 12px 0;

	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.burger__item {
	display: block;
	width: 28px;
	height: 3px;

	position: relative;

	background-color: #fff;
}

.burger__item::before,
.burger__item::after {
	content: "";
	height: 100%;

	position: absolute;
	right: 0;

	background: #fff;
}

.burger__item::before {
	width: 30px;
	bottom: 8px;
}

.burger__item::after {
	width: 26px;
	top: 8px;
}


/* Media */

@media (max-width: 1300px) {
	.works__item {
		width: 50%;
	}
}

@media (max-width: 991px) {
	.nav {
		display: none;
	}

	.burger {
		display: block;
	}

	.intro__title {
		font-size: 40px;
	}

	.features__item {
		width: 50%;
	}

	.team__item {
		width: 50%;
		align-items: center;

		text-align: center;

	}

	.social {
		justify-content: center;
	}

	.testimonials__photo,
	.testimonials__content {
		width: 100%;
		padding-left: 0;
		margin-bottom: 40px;

		text-align: center;
	}

	.testimonials__img {
		right: -15px;
	}
}

@media (max-width: 767px) {
	.intro {
		height: auto;
		padding-top: 130px;
		padding-bottom: 30px;
	}

	.intro__title {
		font-size: 30px;
	}

	.intro__subtitle {
		margin-bottom: 30px;

		font-size: 16px;
	}

	.features__inner {
		margin: 40px 0;
	}

	.features__item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.works__item {
		width: 100%;
		height: 300px;
	}

	.team {
		margin: 60px 0 30px;
	}

	.team__item {
		width: 100%;
	}

	.testimonials__text {
		font-size: 25px;
	}

	.download {
		margin: 65px 0;
	}

	.download__title {
		font-size: 25px;
	}

	.footer__inner {
		padding: 40px 0;
	}

	.footer__block {
		width: 100%;
		margin-bottom: 30px;
		padding-left: 0;
		padding-right: 0;
	}

	.footer__block:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 510px) {
	.testimonials__img {
		right: -144px;
	}
}