body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #787878;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    outline: 0;
    border: 0;
}


/* Container */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* Button */

.btn {
    display: inline-block;

    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;

    cursor: pointer;
    border: 0;

    background-color: #10c9c3;
}

.btn:hover {
    background-color: #15b2ad;

    transition: background-color .2s linear;
}

.btn--long {
    padding: 23px 46px;
}


/* Section-title */

.section-title {
    font-size: 30px;
    color: #191919;
    text-align: center;
}


/* Header */

.header {
    padding: 38px 0 201px;

    background-color: #e9e9e9;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__link {
    margin-left: 25px;

    font-size: 12px;
    font-weight: 700;
    color: #191919;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    transition: color .1s linear;
}

.menu__link:first-child {
    margin: 0;
}

.menu__link:hover {
    color: #10c9c3;
}

.intro__inner {
    margin-left: 55%;
    margin-top: 141px;
    width: 100%;
    max-width: 41%;
}

.intro__title {
    margin-bottom: 32px;

    font-size: 38px;
    color: #1d1d1d;
}

.intro__subtitle {
    margin-bottom: 39px;

    font-family: "Nunito Sans";
    font-size: 18px;
    line-height: 1.5;
}


/* About */

.about {
    padding: 100px 0;

    font-family: "Nunito Sans";
    line-height: 1.5;
    letter-spacing: 0.08px;
}

.about__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    text-align: center;
}

.about__text {
    margin: 41px 0 37px;
}


/* Skills */

.skills__inner {
    display: flex;
}

.prof-skills {
    width: 50%;
    padding: 164px 0;

    background-color: #f8f9f9;
}

.prof-skills__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content__tilte {
    margin: 39px 0 19px;

    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

.line {
    width: 500px;
    height: 3px;
    margin-bottom: 41px;

    background: #d8d8d8;
}
.line:last-child {
    margin: 0;
}

.line::after {
    content: "";
    display: block;
    height: 3px;

    background-color: #10c9c3;
}

.line-1::after {
    width: 75%;
}

.line-2::after {
    width: 90%;
}

.line-3::after {
    width: 65%;
}


.skills__photo {
    width: 50%;

    background-color: #e9e9e9;
}


/* Numbers */

.numbers {
    height: 240px;

    background-color: #10c9c3;
}


/* Works */

.works__inner {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 300px;

    position: relative;
    z-index: 1;

    background-color: #ddd;
}

.works__item:nth-child(1) {
    background-color: #838383;
}

.works__item:nth-child(3) {
    background-color: #838383;
}

.works__item:nth-child(6) {
    background-color: #838383;
}

.works__item:nth-child(8) {
    background-color: #838383;
}

.works__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 48px;
    color: #fff;
    text-align: center;


    background-color: rgba(37, 37, 37, .85);
    opacity: 0;

    transition: opacity .2s linear;
}

.works__item:hover .works__content {
    opacity: 1;
}

.more {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 700;
    color: #8e8e8e;
    text-transform: uppercase;
    text-align: center;

    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #f5f5f5;

    transition: background-color .1s linear;
}

.more:hover {
    background-color: #eee;
}


/* Process */

.process {
    padding: 100px 0;
}

.process__descript {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    text-align: center;
}

.process__subtitle {
    margin: 41px 0 57px;

    font-family: "Nunito Sans";
    line-height: 1.5;
    letter-spacing: 0.08px;
}

.process__video {
    height: 571px;
    width: 100%;

    background-color: #e9e9e9;
}

/* Services */

.services {
    padding: 70px 0;
    background-color: #f5f5f5;
}

.services__inner {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 25%;
    padding: 0 14px;
    margin: 30px 0;

    text-align: center;
}

.services__icon {
    margin-bottom: 19px;

    font-size: 48px;
    color: #656565;
}

.services__title {
    margin-bottom: 19px;

    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
}

.services__text {
    width: 235px;
    margin: 0 auto;

    font-family: "Nunito Sans";
    font-size: 16px;
    color: #787878;
    line-height: 1.5;
}


/* Testimonials */

.testimonials {
    padding: 178px 0;
    color: #fff;

    background-color: #10c9c3;
}

.testimonials__inner {
    width: 100%;
    max-width: 807px;
    margin: 0 auto;

    text-align: center;
}

.testimonials__text {
    margin-bottom: 35px;

    font-size: 24px;
    line-height: 1.5;
}

.testimonials__author {
    font-size: 12px;
    text-transform: uppercase;
}


/* Clients */

.clients {
    padding: 100px 0;
}

.clients__inner {
    display: flex;
    justify-content: space-between;
}


/* Contact */

.contact {
    padding: 100px 0;

    background-color: #f5f5f5;
}

.contact__descript {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;

    text-align: center;
}

.contact__subtitle {
    margin: 41px 0;

    font-family: "Nunito Sans";
    line-height: 1.5;
}


/* Footer */

.footer {
    height: 284px;

    background-color: #141414;
}
