body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #787878;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

input, textarea {
    outline: 0;
    border: 0;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* Button */

.btn {
    display: inline-block;

    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    cursor: pointer;
    border: 0;

    background-color: #10c9c3;
}

.btn:hover {
    background-color: #15b2ad;

    transition: background-color .2s linear;
}

.btn--long {
    padding: 23px 46px;
}

.btn--form {
    padding: 23px 35px;
}


/* Section-title */

.section-title {
    font-size: 30px;
    color: #191919;
    text-align: center;
}


/* Header */

.header {
    padding: 38px 0 201px;

    background-color: #e9e9e9;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__link {
    margin-left: 25px;

    font-size: 12px;
    font-weight: 700;
    color: #191919;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    transition: color .1s linear;
}

.menu__link:first-child {
    margin: 0;
}

.menu__link:hover {
    color: #10c9c3;
}

.intro__inner {
    margin-left: 55%;
    margin-top: 141px;
    width: 100%;
    max-width: 41%;
}

.intro__title {
    margin-bottom: 32px;

    font-size: 38px;
    color: #1d1d1d;
}

.intro__subtitle {
    margin-bottom: 39px;

    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}


/* About */

.about {
    padding: 100px 0;

    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.08px;
}

.about__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    text-align: center;
}

.about__text {
    margin: 41px 0 37px;
}


/* Skills */

.skills__inner {
	display: flex;
	flex-wrap: wrap;
}

.prof-skills {
    width: 50%;
    padding: 164px 0;

    background-color: #f8f9f9;
}

.prof-skills__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-content__tilte {
    margin: 39px 0 19px;

    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

.line {
    width: 500px;
    height: 3px;
    margin-bottom: 41px;

    background: #d8d8d8;
}
.line:last-child {
    margin: 0;
}

.line::after {
    content: "";
    display: block;
    height: 3px;

    background-color: #10c9c3;
}

.line-1::after {
    width: 75%;
}

.line-2::after {
    width: 90%;
}

.line-3::after {
    width: 65%;
}


.skills__photo {
    width: 50%;

    background-color: #e9e9e9;
}


/* Numbers */

.numbers {
    padding: 100px 0;

    background-color: #10c9c3;
}

.numbers__inner {
	display: flex;
	flex-wrap: wrap;
}

.numbers__item {
    display: flex;
	align-items: center;
	width: 25%;

    color: #ffffff;
    text-transform: uppercase;
}

.numbers__icon {
    margin-right: 25px;
    font-family: "Pe -icon -7 stroke";
    font-size: 48px;
}

.numbers__quantity {
    font-size: 18px;
}

.numbers__title {
    margin-top: 5px;

    font-size: 12px;
    font-weight: 500;
}


/* Works */

.works__inner {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 300px;

    position: relative;
    z-index: 1;

    background-color: #ddd;
}

.works__item:nth-child(1) {
    background-color: #838383;
}

.works__item:nth-child(3) {
    background-color: #838383;
}

.works__item:nth-child(6) {
    background-color: #838383;
}

.works__item:nth-child(8) {
    background-color: #838383;
}

.works__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 48px;
    color: #fff;
    text-align: center;


    background-color: rgba(37, 37, 37, .85);
    opacity: 0;

    transition: opacity .2s linear;
}

.works__item:hover .works__content {
    opacity: 1;
}

.more {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 700;
    color: #8e8e8e;
    text-transform: uppercase;
    text-align: center;

    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #f5f5f5;

    transition: background-color .1s linear;
}

.more:hover {
    background-color: #eee;
}


/* Process */

.process {
    padding: 100px 0;
}

.process__descript {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    text-align: center;
}

.process__subtitle {
    margin: 41px 0 57px;

    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.08px;
}

.process__video {
    position: relative;
    height: 571px;
    width: 100%;

    background-color: #e9e9e9;
}

.process__video__pause {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate3d(-50%, -50%, 0);

    cursor: pointer;
}

/* Services */

.services {
    padding: 70px 0;
    background-color: #f5f5f5;
}

.services__inner {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 25%;
    padding: 0 14px;
    margin: 30px 0;

    text-align: center;
}

.services__icon {
    margin-bottom: 19px;

    font-size: 48px;
    color: #656565;
}

.services__title {
    margin-bottom: 19px;

    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
}

.services__text {
    margin: 0 auto;

    font-family: "Nunito Sans";
    font-size: 16px;
    color: #787878;
    line-height: 1.5;
}


/* Testimonials */

.testimonials {
    padding: 178px 0;
    color: #fff;

    background-color: #10c9c3;
}

.testimonials__inner {
    width: 100%;
    max-width: 807px;
    margin: 0 auto;

    text-align: center;
}

.testimonials__text {
    margin-bottom: 35px;

    font-size: 24px;
    line-height: 1.5;
}

.testimonials__author {
    font-size: 12px;
    text-transform: uppercase;
}


/* Clients */

.clients {
    padding: 100px 0;
}

.clients__inner {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}


/* Contact */

.contact {
    padding: 100px 0;

    background-color: #f5f5f5;
}

.contact__descript {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;

    text-align: center;
}

.contact__subtitle {
    margin: 41px 0;

    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5;
}

.form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 30px;
}

.input-group__input {
    width: 320px;
    padding: 18px 20px;

    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.input-group__input:first-child {
    margin-right: 26px;
}

.input__title {
    width: 670px;
    padding: 18px 20px;
    margin-bottom: 30px;

    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
}

.form__comment {
    width: 670px;
    height: 170px;
    padding: 18px 20px;
    margin-bottom: 30px;

    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;

    resize: none;
}


/* Footer */

.footer {
    padding: 100px 0;

    color: #bcbcbc;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

    background-color: #141414;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.footer__title {
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
}

.footer__contact {
    line-height: 1.6;
}

.footer__link-block {
    display: flex;
}

.footer__item:first-child {
    margin-right: 55px;
}

.footer__item:last-child {
    margin-left: 135px;
}

.footer__link {
    color: #bcbcbc;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

    transition: color .1s linear;
}

.footer__link:hover {
    color: #a5a5a5;
}

/* Burger */

.burger {
	display: none;
	padding: 11px 2px;

	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;

	position: relative;

	background-color: #000;
}

.burger__item:before,
.burger__item:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;

	position: absolute;

	background-color: #000;
}

.burger__item:before {
	bottom: 8px;
}

.burger__item:after {
	top: 8px;
}


/* Media */

@media (max-width:1024px) {

	.header {
		padding-bottom: 98px;
	}

	.menu {
		display: none;
	}

	.burger {
		display: block;
	}

	.prof-skills {
		padding: 80px 0;
	}

	.line {
		width: 360px;
	}

	.works__item {
		height: 228px;
	}

	.clients {
		padding: 60px 0 20px;
	}

	.clients__inner {
		justify-content: space-around;
	}

	.clients__photo {
		padding: 10px;
		margin-bottom: 40px;
	}

	.footer__item:last-child {
		margin-left: 50px;
	}
}

@media (max-width: 768px) {

	.intro__inner {
		max-width: 100%;
		margin: 0 auto;
		margin-top: 90px;

		text-align: center;
	}

	.about {
		padding: 75px 0;
	}

	.skills__photo {
		width: 100%;
		height: 420px;
	}

	.prof-skills {
		width: 100%;
		padding: 60px 0;
	}

	.numbers {
		padding: 75px 0 35px;
	}

	.numbers__item {
		width: 50%;
		justify-content: center;
		margin-bottom: 40px;
	}

	.works__item {
		width: 50%;
		height: 330px;
	}

	.works__item:nth-child(1) {
    background-color: #838383;
	}

	.works__item:nth-child(3) {
		background-color: #ddd;
	}

	.works__item:nth-child(4) {
		background-color: #838383;
	}

	.works__item:nth-child(5) {
		background-color: #838383;
	}

	.works__item:nth-child(6) {
		background-color: #ddd;
	}

	.process {
		padding: 60px 0;
	}

	.process__video {
		height: 370px;
	}

	.testimonials {
		padding: 85px 0;
	}

	.testimonials__text {
		font-size: 18px;
	}

	.services {
		padding: 40px 0;
	}

	.services__item {
		width: 50%;
	}

	.input-group {
		width: 100%;
		display: flex;
		flex-flow: wrap column;
	}

	.input-group__input, .input__title, .form__comment {
		width: 100%;
	}

	.input-group__input:first-child {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.footer {
		padding: 55px 0;
	}

	.footer__inner {
		align-items: center;
	}

	.footer__link-block {
		display: none;
	}
}

@media (max-width: 630px) {
	.works__item {
		width: 100%;
	}

	.works__item:nth-child(1) {
		background-color: #838383;
	}
	
	.works__item:nth-child(3) {
		background-color: #838383;
	}

	.works__item:nth-child(4) {
		background-color: #ddd;
	}
	
	.works__item:nth-child(6) {
		background-color: #ddd;
	}

	.works__item:nth-child(7) {
		background-color: #838383;
	}
	
	.works__item:nth-child(8) {
		background-color: #ddd;
	}
}

@media (max-width: 525px) {

	.numbers__inner {
		padding-left: 27%;
	}

	.numbers__item {
		width: 100%;
		justify-content: flex-start;
	}

	.services__item {
		width: 100%;
	}

	.contact {
		padding: 60px 0 40px;
	}

	.footer {
		padding: 35px 0;
	}

	.footer__inner {
		flex-direction: column;

		text-align: center;
	}

	.footer__block:first-child {
		margin-bottom: 25px;
	}
}

@media (max-width: 425px) {

	.intro__title {
		font-size: 32px;
	}

	.about__text {
		margin-top: 20px;
	}

	.skills__photo {
		height: 290px;
	}

	.testimonials {
		padding: 90px 0;
	}
}

@media (max-width: 375px) {
	
	.line {
		width: 295px;
	}

	.numbers__inner {
		padding-left: 14%;
	}
}